{% extends 'base.html' %}

{% block content %}
<form class="form-inline">
    <label><h1>D地学知识抢答竞赛排名</h1></label>
    <input type="text" id="myInput1" onkeyup="myFunction(1)" placeholder="输入队伍编号搜索..."  class="form-control">
    <input type="text" id="myInput0" onkeyup="myFunction(0)" placeholder="输入学校名搜索..."  class="form-control">
<table class="table table-bordered" id="table">
    <thead>
        <th>参赛学校</th>
        <th>参赛队伍编号</th>
        <th>得分</th>
        <th>排名</th>
    </thead>
    <tbody>

        {% for stu in student %}
        <tr>
            <td>{{ stu.school }}</td>
            <td>{{ stu.id }}</td>
            <td>{{ '%0.2f'| format(stu.score4|float) }}</td>
            <td>{{ loop.index }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="zhanwei">-</div>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}